@model IEnumerable<Laboratorio2ED1.Models.Pais>

@{
    ViewBag.Title = "IndexPais";
}

<h2>Paises</h2>

<p>
    @Html.ActionLink("Crear País", "Create", "Pais") | 
    @Html.ActionLink("Orden InFijo", "OrdenWord", new { id = 0, tipo = 0 }) |
    @Html.ActionLink("Orden PreFijo", "OrdenWord", new { id = 1, tipo = 0 }) |
    @Html.ActionLink("Orden Postfijo", "OrdenWord", new { id = 2, tipo = 0 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Nombre, group = item.grupo })
        </td>
    </tr>
}

</table>
