@model IEnumerable<string>
@{
    ViewBag.Title = "IndexWord";
}

<h2>IndexWord</h2>
<p>
    @Html.ActionLink("Create New", "CreateString") |
    @Html.ActionLink("Orden InFijo", "OrdenWord", new { id = 0, tipo = 2 }) |
    @Html.ActionLink("Orden PreFijo", "OrdenWord", new { id = 1, tipo = 2 }) |
    @Html.ActionLink("Orden Postfijo", "OrdenWord", new { id = 2, tipo = 2 })

</p>
<table class="table">
    <tr>
        <th> Cadena</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>

            <td>
                
                @Html.ActionLink("Delete", "DeleteString", new { id= item })
            </td>
        </tr>
    }

</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

