@model IEnumerable<int>

@{
    ViewBag.Title = "Index Numero";
}

<h2>IndexNumero</h2>

<p>
    @Html.ActionLink("Create New", "CreateInt") | 
    @Html.ActionLink("Orden InFijo", "OrdenWord", new { id = 0, tipo = 1 }) |
    @Html.ActionLink("Orden PreFijo", "OrdenWord", new { id = 1, tipo = 1 }) |
    @Html.ActionLink("Orden Postfijo", "OrdenWord", new { id = 2, tipo = 1 }) |
    @Html.ActionLink("Carga Archivo Json", "UploadInt")
</p>
<table class="table">
    <tr>
        <th> Numero</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>

            <td>
                
                @Html.ActionLink("Delete", "DeleteInt", new { id = item })
            </td>
        </tr>
    }

</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
